:root {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

.page {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.menu_primary {
  padding: 0.8rem 1rem;
  font-size: 0.8em;
}

.menu_secondary {
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  font-size: 0.9em;
  color: hsl(0,0%,20%);
}

.menu__item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.menu__item-wrapper {
  display: inline-block;
}

.menu__item {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 0.5rem;
  margin: 0.2rem 0.25rem;
  opacity: 0.8;
  cursor: pointer;

}

.menu__item:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.menu__icon {
  background: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  background-size: 528px 68px;
  background-position: -132px -38px;
  opacity: 0.55;
  border: none;
  outline: none;
  font-size: inherit;
  width: 30px;
  height: 30px;
  margin-right: 1em;
}

.icon-text {
  display: none;
}

.menu__button {
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
  border: 1px solid #4285f4;
  color: white;
  font-weight: bold;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  border-radius: 3px;
  opacity: 1;
}

.main {
  margin-top: 7rem;
  justify-self: center;
  text-align: center;
  width: 80%;
  max-width: 590px;
  min-width: 300px;
}

.search__bar {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 0 1em;
  box-sizing: border-box;
  margin-top: 1em;
}

.search__input {
  font-size: 1em;
  flex: 1;
  margin: 0 0.5em;
  outline: none;
  border: none;
  background: transparent;
}

.search__icon {
  height: 1.5em;
  padding: .75em 0;
  outline: none;
  border: none;
}

.search__icon_magnify {
  opacity: 0.25;
}

.search__icon_voice {
  background: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 48px;
  cursor: pointer;
}

.search__button-wrapper {
margin-top: 2em;
font-size: 0.9em;
color: #5F6368;
}

.search__button {
  font-size: inherit;
  padding: 0 1em;
  line-height: 2.5em;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: inherit;
  margin: 2px 4px;
  cursor: pointer;
}

.search__button:hover {
  background: #fafafa;
  border: 1px solid #d8d8d8;
  color: #111111;
}

.logo {
  margin: 2em 0 0 0;
}